<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>

    <context-param>
        <param-name>user</param-name>
        <param-value></param-value>
    </context-param>

    <context-param>
        <param-name>pass</param-name>
        <param-value></param-value>
    </context-param>

    <!--  Servlets -->
    <servlet>
        <servlet-name>Autenticacion</servlet-name>
        <servlet-class>servlets.Autenticacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autenticacion</servlet-name>
        <url-pattern>/Autenticacion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CierreSesion</servlet-name>
        <servlet-class>servlets.CierreSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CierreSesion</servlet-name>
        <url-pattern>/CierreSesion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GestorClases</servlet-name>
        <servlet-class>servlets.GestorClases</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestorClases</servlet-name>
        <url-pattern>/GestorClases</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GestorClasesProducto</servlet-name>
        <servlet-class>servlets.GestorClasesProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestorClasesProducto</servlet-name>
        <url-pattern>/GestorClasesProducto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Mail</servlet-name>
        <servlet-class>servlets.Mail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/Mail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>servlets.Registro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>




    <!--  Filters -->

    <!--  JSP files -->
    <servlet>
        <servlet-name>acceso</servlet-name>
        <jsp-file>/acceso.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>acceso</servlet-name>
        <url-pattern>/acceso</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>cabecera</servlet-name>
        <jsp-file>/cabecera.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cabecera</servlet-name>
        <url-pattern>/cabecera</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>contacto</servlet-name>
        <jsp-file>/contacto.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>contacto</servlet-name>
        <url-pattern>/contacto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>equipo</servlet-name>
        <jsp-file>/equipo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>equipo</servlet-name>
        <url-pattern>/equipo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>footer</servlet-name>
        <jsp-file>/footer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>footer</servlet-name>
        <url-pattern>/footer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>icaro</servlet-name>
        <jsp-file>/icaro.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>icaro</servlet-name>
        <url-pattern>/icaro</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MostrarClases</servlet-name>
        <jsp-file>/mostrarclases.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MostrarClases</servlet-name>
        <url-pattern>/MostrarClases</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>metodo</servlet-name>
        <jsp-file>/metodo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>metodo</servlet-name>
        <url-pattern>/metodo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>nosotros</servlet-name>
        <jsp-file>/nosotros.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>nosotros</servlet-name>
        <url-pattern>/nosotros</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>registro</servlet-name>
        <jsp-file>/registro.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>clases</servlet-name>
        <jsp-file>/clases.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>clases</servlet-name>
        <url-pattern>/clases</url-pattern>
    </servlet-mapping>
</web-app>