.col-lg-4{
    margin-left: 10%;
    margin-right: 5%;
}
.card-title{
    text-align: center;!important;
    text-decoration: none;!important;
    color: gainsboro;!important;
}
.card-img-top{
    size:700px 400px;
}
.container{
    margin-top: 10px;
    color: gainsboro;!important;
    margin-bottom: 4%;
}
.ESO{
    margin-top: 10px;
}
.primaria{
    margin-top: 40px;
}
.abajo{
    margin-bottom: 3%;
    width: 31%;
    margin-left: 11%;
    margin-right: 5%;
}
.abajo1{
    margin-bottom: 3%;
    width: 31%;
    margin-left: 13%;
}