*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
}
.ola{
    position: fixed;
    height: 100%;
    left: 0;
    bottom:0;
    z-index: -1;
}

.contenido{
    padding: 3% 0;
}
.imagen{
    float:left;
    margin-left: 5%;
    margin-top: 15%;
    margin-bottom: 3%;
    padding-bottom: 3%;
    position: sticky;
}
.imagen embed{
    width: 400px;
    position: sticky;

}
.contenido h1{
    text-align: center;
    color: gray;
    margin: 2% auto;
}
.contact-form{
    max-width: 60%;
    margin: auto;
    padding: 0 1%;
    overflow: hidden;
}
.form-contacto{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin:2.2% 0;
    border: 0;
    background:gray;
    padding: 2% 5%;
    outline: none;
    color: white;
    transition: 0.5s;
}
.form-contacto:focus{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.form-contacto{
    resize: none;
    height: 12%;
}
.form-submit{
    float: right;
    border: 0;
    background: #34495e;
    color: white;
    padding: 2% 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.form-submit:hover{
    background: #2980b9;
}
::placeholder{
    color: white;
}
#mensaje-error{
    color: red;
    text-align: center;
}
.mensaje-OK{
    color: green;
    text-align: center;
}