

.pie-pagina{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;

    float: left;
    text-align: center;
    background: gray;

    font-size: 15px;
    font-family: sans-serif;
    color: white;
}


.division-pie{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-right:10px;
    padding-left:10px;
    float: left;

}

#division-dcha{
    text-align: right;
}

#division-izq{
    text-align: left;
}