* {
    box-sizing: border-box;
}
.imagen{
    width: 35%;
    height: 30%;
    margin-left: 1%;
    float: left;
}
.imagen img{
    width: 100%;
    height: auto;
}
.contenido{

    margin-left: 50%;
    margin-right: 5%;
}
.contenedor{
    margin-right: 5%;
    margin-bottom: 1%;
    width: 100%;
    height: 60%;
    overflow: scroll;

}
#myInput {
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
    border: 1px solid #ddd;
    margin-top: 2%;

}

.lista {
    list-style-type: disc;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.lista li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}
.lista li a:focus{
    background: #34495e;
}
.submit{
    margin-bottom: 2%;
    background-color: #757575;
    border-radius: 20px;
    border: none;
    color: white;
    float: left;
    font-size: 18px;
    padding: 2.5% 4%;
    text-decoration: none;
    margin-right: 10%;
    cursor: pointer;

}
.submit:hover{
    background: #2980b9;
}
#mensaje{
    float: left;
    display: inline-flex;
    margin-left: 2%;
    color: red;
}
.mensajeCesta{
    float: left;
    display: inline-flex;
    color: green;
    font-size: 12px;
}


.border{
    align-items: center;
    margin-top: 20%;
}
.contact-form{
    max-width: 60%;
    margin: auto;
}
.form-contacto{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin:2.2% 0;
    border: 0;
    background:gray;
    padding: 8% 11%;
    outline: none;
    color: white;
    transition: 0.5s;
}
.form-contacto:focus{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.form-contacto{
    resize: none;
    height: 13%;
    margin-right: 0.5%;
}
.form-submit{
    float: right;
    border: 0;
    background: #34495e;
    color: white;
    padding: 2% 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.form-submit:hover{
    background: #2980b9;
}
.form-contacto::placeholder{
    color: white;
}
.border h1{
    color: #757575;
    text-align: center;
    margin-bottom: 15%;
}
#asignatura{
    padding: 2% 5%;
}
.contenido h1{
    color: #757575;
}
#universidadEnviar{
    float: left;
}